.footer{
    background-color: var(--bg-lm);
    border-top: 1px solid #cbcbcb51;
    display: flex;
    justify-content: center;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1240px;
    padding: 15px 0px;
    color: var(--text-white);
    font-size: 14px;
    font-weight: 300;
    a{
        color: var(--text-white);
        margin-left: 15px;
    }
}